.inputLogin {
  width: 70%;
  margin-left: 15%;
}

.uploadPhoto {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
  color: black;
}

.uploadPhoto:hover {
  background: white;
  color: black;
  border: 1px solid #d3d3d3;
}

.disNone {
  display: none;
}
